main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.perfil{
    background-color: #1d3893;
    height: 450px;
    width: 800px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 10px 10px 0px black;
}

.perfil__bloque{
    width: 100%;
}

.perfil__bloque--imagen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    color: #b4dbff;
}

.perfil__imagen{
    height: 280px;
    width: 280px;
    border-radius: 50%;
}

.perfil__bloque--datos{
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.perfil__info{
    background-color: #f7f7f7;
    padding: 10px 20px;
    width: 300px;
    border-radius: 15px;
    gap: 2px;
}

.perfil__info--normal{
    height: 30px;
    display: flex;
    align-items: center;
}

.perfil__info--descripcion{
    display: block;
    gap: 5px;
    height: 200px;
}

.perfil__dato{
    height: 85%;
    width: 100%;
}

textarea.perfil__dato {
    height: 100%;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    resize: none;
    text-align: left;
    vertical-align: top;
}

.perfil__botones{
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

.perfil__boton{
    height: 100%;
    width: 40%;
    border-radius: 10px;
    background-color: #cce6ff;
    cursor: pointer;
}

.perfil__boton--editar{
    background-color: #1d3893;
    color: white;
}

.perfil__boton--cerrar-sesion{
    background-color: #ab302c;
    color: white;
}

.perfil__boton--editar:hover {
    background-color: #4a74db;
}

.perfil__boton--cerrar-sesion:hover {
    background-color: #d9534f;
}

#input-descripcion{
    height: 80%;
}

/* JS */

.perfil__dato--visualizar-activo{
    display: block;
}

.perfil__dato--visualizar-inactivo{
    display: none;
}

.perfil__dato--edicion-activo{
    display: block;
}

.perfil__dato--edicion-inactivo{
    display: none;
}

@media (max-width: 900px) {
    .perfil{
        height: 800px;
        width: 450px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 40px 20px;
    }
    .perfil__bloque--datos{
        padding: 0px 0px;        
        align-items: center;
    }
}