.container_form {
    width: 100%;
    max-width: 700px; 
    text-align: center;
    background-color: #F0EFEE;
    border: 1px solid rgb(173, 171, 171);
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    color: black;
}

.input_password {
    position: relative;
    top: 15PX;
    padding: 12px 0pc 12px 42px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.input_password input {
    width: 80%;
    height: 45px;
    font-size: 17px;
    border-radius: 6PX;
    border: 1px solid grey;
    padding: 5px;
}

.input_password i {
    position: relative;
    right: 40px;
    top: 5px;
    font-size: 26px;
    cursor: pointer;
}

.button {
    position: relative;
    top: -15px;
    width: 50%;
    padding: 10px;
    background-color: rgb(224, 221, 221);
    color: black;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.5s ease-in-out, color 0.4s ease-in-out;
}

.button:hover{
    background-color: rgb(86, 114, 240);
    color: white;
}

.requierements {
    position: relative;
    top: 10px;
}

.requierements h4 {
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
}

.requierements p {
    font-size: 18px;
    color: black;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .container_form {
        width: 90%;
        padding: 15px;
    }
    
    h1 {
        font-size: 30px;
    }
    
    .input_password input {
        width: 80%;
        font-size: 15px;
    }
    
    .input_password i {
        font-size: 22px;
    }
    
    .button {
        width: 70%;
        font-size: 16px;
    }
    
    .requierements h4, .requierements p {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .container_form {
        width: 95%;
        padding: 10px;
    }
    
    h1 {
        font-size: 25px;
    }
    
    .input_password {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .input_password input {
        width: 100%;
        font-size: 14px;
        padding-left: 10px;
    }
    
    .input_password i {
        left: 85%;
        top: -35px;
        font-size: 20px;
    }
    
    .button {
        width: 80%;
        font-size: 14px;
    }
    
    .requierements h4, .requierements p {
        font-size: 14px;
    }
}