*{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

header a{
    background-color: white;
    height: 40px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}