@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bangers&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: "Arvo", Arial, Helvetica, sans-serif;
}

header{
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: center;
}

header div{
    background-color: aquamarine;
    height: 100%;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    height: 40px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid fuchsia;
}

.menu li{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    border: 1px solid fuchsia;
}

.logo{
    height: 100%;
}

main{
    padding: 60px;
}

footer{
    background-color: black;
    height: 80px;
}