<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denuncias</title>
    <link rel="stylesheet" href="css/denuncias_usuarios.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" href="img/LogoMuniPequeño.ico">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $(function(){
            $("#header").load("general/header.html");
            $("#footer").load("general/footer.html");
        });
    </script>
</head>
<body>

    <div id="header"></div>

    <main>
        <section class="form_user">
            
                <h2 class="title_2">Ingrese su Denuncia</h2>
        
                <form action="">
        
                    <div class="date_den">
                        <label for="date">Fecha:</label>
                        <input type="date" name="date" id="date">
                    </div>
        
                    <div class="desc_den">
                        <label for="desc">Descripción:</label>
                        <textarea name="desc" id="desc" cols="30" rows="5"></textarea>
                    </div>

                    <div class="adjuntar_enviar">
                        <div class="file_con">
                            <label for="file">Adjuntar Archivo:</label>
                            <input type="file" name="file" id="file">
                        </div>
            
                        <div class="button_container">
                            <button class="button_den" type="submit">Enviar</button>
                        </div>
                    </div>
                    
        
                </form>
            
        </section>

        <section class="sec_denun">
    
            <h2 class="title_h2">Denuncias Registradas</h2>
            <div class="denuncias">
                <div class="denun">
                    <p class="date">Fecha: 03/10/2024</p>
                    <p class="desc"><strong>Descripción:</strong> Problemas con la basura de la zona</p>
                    <div class="file_con">
                        <label for="file1">Adjuntar archivo:</label>
                        <input type="file" id="file1" accept="image/*">
                    </div>
                    <div class="button_container">
                        <button class="Edit_denu">Editar</button>
                        <button class="anular_denu">Anular</button>
                    </div>
                </div>
        
                <div class="denun">
                    <p class="date">Fecha: 19/10/2024</p>
                    <p class="desc"><strong>Descripción:</strong> Vecino no tiene permiso de construccion</p>
                    <div class="file_con">
                        <label for="file2">Adjuntar archivo:</label>
                        <input type="file" id="file2" accept="image/*">
                    </div>
                    <div class="button_container">
                        <button class="Edit_denu">Editar</button>
                        <button class="anular_denu">Anular</button>
                    </div>
                </div>
        
                <div class="denun">
                    <p class="date">Fecha: 03/10/2025</p>
                    <p class="desc"><strong>Descripción:</strong> Problemas con la basura de la zona</p>
                    <div class="file_con">
                        <label for="file3">Adjuntar archivo:</label>
                        <input type="file" id="file3" accept="image/*">
                    </div>
                    <div class="button_container">
                        <button class="Edit_denu">Editar</button>
                        <button class="anular_denu">Anular</button>
                    </div>
                </div>
        
                <div class="denun">
                    <p class="date">Fecha: 03/10/2025</p>
                    <p class="desc"><strong>Descripción:</strong> Problemas con la basura de la zona</p>
                    <div class="file_con">
                        <label for="file3">Adjuntar archivo:</label>
                        <input type="file" id="file3" accept="image/*">
                    </div>
                    <div class="button_container">
                        <button class="Edit_denu">Editar</button>
                        <button class="anular_denu">Anular</button>
                    </div>
                </div>
            </div>
    
        </section>

        <a class="modo__dev" href="/denuncias_dev.html">Modo Administrador</a>

    </main>

    <div id="footer"></div>
    
    

</body>
</html>