<!DOCTYPE html><!-- juan jose, copiar y pegar todo el cod -->
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denuncias</title>
    <link rel="stylesheet" href="css/denuncias_usuarios.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" href="img/LogoMuniPeque침o.ico">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $(function(){
            $("#header").load("general/header.html");
            $("#footer").load("general/footer.html");
        });
    </script>
</head>
<body>

    <div id="header"></div>

    <main>
        <section class="form_user">
            
                <h2 class="title_2">Ingrese su Denuncia</h2>
        
                <form action="/denuncia" method="POST" enctype="multipart/form-data">
        
                    <div class="date_den">
                        <label for="date">Fecha:</label>
                        <input type="date" name="date" id="date">
                    </div>
        
                    <div class="desc_den">
                        <label for="desc">Descripci칩n:</label>
                        <textarea name="descripcion" id="desc" cols="30" rows="5"></textarea>
                    </div>

                    <div class="adjuntar_enviar">
                        <div class="file_con">
                            <label for="file">Adjuntar Archivo:</label>
                            <input type="file" name="file" id="file">
                        </div>
            
                        <div class="button_container">
                            <button class="button_den" type="submit">Enviar</button>
                        </div>
                    </div>
                    
        
                </form>
            
        </section>

        <section class="sec_denun">
            <h2 class="title_h2">Denuncias Registradas</h2>
            <div class="denuncias">
                <% denuncias.forEach(denuncia => { %>
                    <div class="denun">
                        <p class="date">Fecha: <%= denuncia.fecha.toISOString().split('T')[0] %></p>
                        <p class="desc"><strong>Descripci칩n:</strong> <%= denuncia.descripcion %></p>
                        <% if (denuncia.archivo && denuncia.archivo.filename) { %>
                            <div class="file_con">
                                <label>Archivo adjunto:</label>
                                <img src="/uploads/<%= denuncia.archivo.filename %>" alt="Imagen Subida" style="width: 100px; height: auto;">
                            </div>
                        <% } %>
                        <div class="button_container">
                            <button class="Edit_denu">Editar</button>
                            <button class="anular_denu">Anular</button>
                        </div>
                    </div>
                <% }); %>
            </div>

            <div class="pagination">
                <button id="anteriorpag">Anterior</button>
                <span id="pagInfo">P치gina 1</span>
                <button id="sigPage">Siguiente</button>
            </div>

        </section>

        <a class="modo__dev" href="/denuncias_dev">Modo Administrador</a>

    </main>

    <div id="footer"></div>
    
    <script src="/js/denuncias_usuarios.js" defer></script>


</body>
</html>