<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olvidó contraseña</title>
    <link rel="stylesheet" href="css/forgot_password.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" href="img/LogoMuniPequeño.ico">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $(function(){
            $("#header").load("general/header.html");
            $("#footer").load("general/footer.html");
        });
    </script>
</head>
<body>

    <div id="header"></div>

    <main>
        <div class="container">
            <h1>¿Olvidó su contraseña?</h1>
    
            <div class="texto">Por favor indique su correo electrónico, un mensaje va a ser enviado a su dirección de correo electrónico indicando cómo cambiar su contraseña de acceso a su cuenta.</div>
    
            <form href="/reset_password.html" action="/reset_password.html" method="post">
                <div class="input-cont">
                    <i class="bi bi-envelope-at"></i>
                    <input type="email" id="email" name="email" placeholder="Correo" required>
                </div>
                <button type="submit">Enviar</button>
            </form>
            
        </div>
    </main>

    <div id="footer"></div>

    <script src="js/forgot_password.js"></script>
    
</body>
</html>