<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/inicio_sesion_usuario.css">
    <link rel="icon" href="img/LogoMuniPequeño.ico">
    <title>Iniciar Sesion</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script>
        $(function(){
            $("#header").load("/general/header.html");
            $("#footer").load("/general/footer.html");
        });
    </script>
</head>
<body>
<div id="header"></div>
    <main>
        <nav class="cont_general"><!--Contenedor general-->
            <form action="inicio_sesion" class="inicio" id="formulario_inicio_sesion"><!--Inicio de seccion de usuario-->

                <h2>Inicio de Sesión</h2>

                <div class="formulario_inicio">

                    <!-- Correo inicio -->
                    <div class="grupo_inicio" id="grupo_email">
                        <input class="inp_inicio" id="inp_email" type="email" name="email" placeholder="Correo">
                        <p class="formulario__input-error">
                            El correo ingresado no es valido
                        </p>
                    </div>
                        
                    <!-- Password inicio -->
                    <div class="grupo_inicio" id="grupo_password">
                        <input class="inp_inicio" id="inp_password" type="password" name="password" placeholder="Contraseña">
                        <!-- <button href="#"><i class='inp_error bx bx-low-vision'></i><i class='inp_error bx bxs-low-vision'></i></button>  botones para visualizar la contraseña -->
                    </div>

                    <!-- Password recovery -->
                    <div class="rec_contra">
                        <a href="forgot_password.html" class="rec_contra-button">¿Olvidaste tu Contraseña?</a>
                    </div>
                    
                    <!-- Boton inicio sesion -->
                    <div class="contenedor_buttons">
                        <a class="buttons_formulario" href="/madre_usuario.html" id="inicio_sesion_btn">Iniciar Sesión</a>
                    </div>

                    <!-- Una rayita para mas estetica -->
                    <div class="contenedor_buttons">
                        <div class="divisor_inicio">
                            <span id="circle"></span>
                        </div>
                    </div>

                    <!-- Boton de inicio de Sesion con Google -->
                    <div class="contenedor_buttons">
                        <a class="buttons_formulario" href="#" id="inicio_google_btn"><img class="icono_gmail" src="img/gmail.png" alt="Icono de Gmail">Iniciar Sesión con Google</a>
                    </div>
                </div>
            </form><!--Inicio de seccion de usuario Fin-->

            <form action="registro_usuario" class="registro" id="formulario_registro_usuario"><!--Registro de nuevos usuarios-->
                <h2 class="">Registrarse</h2>

                <div class="formulario_registro">
                    <!-- Nombre Usuario -->
                    <div class="grupo_registro" id="formulario_nombre">
                        <label for="" class="formulario_label">Nombre</label>
                        <input class="inp_registro" type="text" id="nombre" name="nombre" placeholder="Juan Andres">
                        <p class="formulario__input-error">
                            El usuario debe tener mínimo 3 caracteres y solo admite letras y espacios.
                        </p>
                    </div>
                    <!-- Apellidos Usuario -->
                    <div class="grupo_registro" id="formulario_apellidos">
                        <label for="" class="formulario_label">Apellidos</label>
                        <input class="inp_registro" type="text" id="apellidos" name="apellidos" placeholder="Castro Benavides">
                        <p class="formulario__input-error">
                            El usuario debe tener mínimo 3 caracteres y solo admite letras y espacios.
                        </p>
                    </div>
                    <!-- Cedula Usuario -->
                    <div class="grupo_registro" id="formulario_cedula">
                        <label for="" class="formulario_label">Cedula</label>
                        <input class="inp_registro" type="text" id="cedula" name="cedula" placeholder="1 1234 1234">
                        <p class="formulario__input-error">
                            La Cedula debe tener mínimo 9 caracteres y solo admite numeros y guiones.
                        </p>
                    </div>
                    <!-- Correo Usuario -->
                    <div class="grupo_registro" id="formulario_email2">
                        <label for="" class="formulario_label">Correo</label>
                        <input class="inp_registro" type="email" id="correo2" name="email2" placeholder="correo@correo.com">
                        <p class="formulario__input-error">
                            Debe agregar un correo con la siguiente estructura dato1@dato2.com
                            dato1 acepta letras,guión bajo y números
                            dato2 acepta solo letras.
                        </p>
                    </div>
                    <!-- Password Usuario -->
                    <div class="grupo_registro" id="formulario_password">
                        <label for="" class="formulario_label">Contraseña</label>
                        <input class="inp_registro" type="password" id="password" name="password" placeholder="********">
                        <p class="formulario__input-error">
                            La contraseña debe ser de 4 a 12 digitos.
                        </p>
                    </div>
                    <!-- Confirmacion Password Usuario -->
                    <div class="grupo_registro" id="formulario_password2">
                        <label for="" class="formulario_label">Confirme su Contraseña</label>
                        <input class="inp_registro" type="password" id="password2" name="password2" placeholder="********">
                        <p class="formulario__input-error">
                            Las contraseñas no coinciden.
                        </p>
                    </div>
                    <!-- Telefono Usuario -->
                    <div class="grupo_registro" id="formulario_telefono">
                        <label for="" class="formulario_label">Telefono</label>
                        <input class="inp_registro" type="number" id="telefono" name="telefono" placeholder="8282 8282">
                        <p class="formulario__input-error">
                            El número debe tener entre 8 y 11 dígitos
                        </p>
                    </div>
                    <!-- Distrito Usuario -->
                    <div class="grupo_registro" id="formulario_distritos">
                        <p>Distrito</p>
                        <select class="inp_registro" name="distrito">
                            <option value="null"></option>
                            <option value="Mercedes">Mercedes</option>
                            <option value="Sabanilla">Sabanilla</option>
                            <option value="San Pedro">San Pedro</option>
                            <option value="San Rafael">San Rafael</option>
                        </select>
                        <p class="formulario__input-error">
                            Seleccione un Distrito
                        </p>
                    </div>
                    <!-- Direccion Usuario -->
                    <div class="grupo_registro" id="formulario_direccion">
                        <label for="" class="formulario_label">Direccion de Domicilio</label>
                        <input class="inp_registro" type="text" id="direccion" name="direccion">
                        <p class="formulario__input-error">
                            Ingrese una ubicacion
                        </p>
                    </div>

                    <!-- Terminos y Condiciones -->
                    <div class="grupo_registro" id="formulario_condiciones">
                        <input type="checkbox" name="terminos_checked" class="confirm_terminos_registro">
                        <b href="#">Al registrarse acepta los terminos y condiciones</b>
                        <p class="formulario__input-error">
                            El usuario debe tener mínimo 4 caracteres y máximo 16 y solo admite
                            números, letras, guión y guión bajo.
                        </p>
                    </div>
                    <!-- Boton de Registro de Usuario -->
                    <div>
                        <button type="submit" href="/madre_usuario.html" class="buttons_formulario">Registrarse</button>
                    </div>
                </div>
            </form><!--Registro de nuevos usuarios-->
            
        </nav><!--Contenedor general-->

            <!-- Boton para ir al formulario de Registro -->
            <div class="contenedor_button">
                <button id="btn_registro">Registrarse</button>
            </div>

        <a class="modo__dev" href="/login_adm">Modo Administrador</a>
    </main>
<div id="footer"></div>
<script src="js/inicio_sesion_usuario.js"></script>
<script src="js/inicio_sesion_registro.js"></script>
</body>
</html>