<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/noticias_avisos_admin.css">
    <link rel="icon" href="img/LogoMuniPequeño.ico">
    <title>Noticias/Avisos Dev</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $(function(){
            $("#header").load("general/header.html");
            $("#footer").load("general/footer.html");
        });
    </script>
</head>
<body>
    <div id="header"></div>
    <main>
        <div class="cont_general"><!--contenedor creador de noticias y avisos-->
            <h2>Generar Noticia o Aviso</h2>
            <p>¿Que deseas hacer?</p>

                <!-- Seleccion de noticia o aviso -->
                <div class="grupo_noticias-avisos" id="cont_seleccion">
                        <label for="crear_noticia" class="opciones">
                            <input type="radio" name="crear_noticia-aviso" id="crear_noticia"> Noticia
                        </label>
                        <label for="crear_aviso" class="opciones">
                            <input type="radio" name="crear_noticia-aviso" id="crear_aviso"> Aviso
                        </label>
                </div>

                <!-- Titulo de la noticia o aviso-->
                <div class="grupo_noticias-avisos" id="cont_titulo">
                    <p>Titulo:</p>
                    <input type="text" name="titulo_noticia" class="inp_noticias-avisos" id="titulo_noticia-aviso_inp">
                </div>

                <!-- Descripcion de la noticia -->
                <div class="grupo_noticias-avisos" id="cont_descripcion">
                    <p>Descripción:</p>
                    <textarea type="text" name="descripcion_noticia" class="inp_noticias-avisos" placeholder="Descripcion" id="descripcion_noticia-aviso"></textarea>
                </div>

                <!-- Carga de imagenes o videos -->
                <div class="grupo_noticias-avisos" id="cont_inp-archivos">
                    <input type="file" name="Imagen_noticia" class="inp_noticias-avisos" id="inp_descripcion">
                </div>

                <!-- Notificacion de publicacion de noticia o aviso -->
                <div class="grupo_noticias-avisos" id="mensaje_confirmacion">
                    <p>Noticia publicada con exito</p>
                </div>

                <!-- Boton -->
                <div class="grupo_noticias-avisos" id="cont_botones"><!--botones-->
                    <input type="submit" name="Publicar" value="Publicar" class="boton_noticias-avisos" id="boton_publicar">
                </div>
        </div><!--contenedor creador de noticias y avisos-->
    </main>
    <a class="modo__dev" href="/noticias_usuarios.html">Modo Usuario</a>
    <div id="footer"></div>
</body>
</html>