<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/perfil_usuario.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/LogoMuniPequeño.ico">
    <title>Mi Perfil</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $(function(){
            $("#header").load("general/header.html");
            $("#footer").load("general/footer.html");
        });
    </script>
</head>
<body>
    <div id="header"></div>
    <main>
        <div class="perfil">
            <div class="perfil__bloque perfil__bloque--imagen">
                <h1>MI PERFIL</h1>
                <img class="perfil__imagen" src="img/ImagenMiPerfilVacio.png" alt="">
            </div>
            <div class="perfil__bloque perfil__bloque--datos">
                <p class="perfil__info perfil__info--normal"><strong>Nombre: </strong><span id="nombre" class="perfil__dato perfil__dato--visualizar-activo">Jose Antonio Castro</span><input type="text" id="input-nombre" class="perfil__dato perfil__dato--edicion-inactivo"></p>
                <p class="perfil__info perfil__info--normal"><strong>Teléfono: </strong><span id="telefono" class="perfil__dato perfil__dato--visualizar-activo">88573643</span><input type="text" id="input-telefono" class="perfil__dato perfil__dato--edicion-inactivo"></p>
                <p class="perfil__info perfil__info--normal"><strong>Distrito: </strong><span id="distrito" class="perfil__dato perfil__dato--visualizar-activo">Mercedes</span><input type="text" id="input-distrito" class="perfil__dato perfil__dato--edicion-inactivo"></p>
                <p class="perfil__info perfil__info--descripcion"><strong>Descripción: </strong><br><span id="descripcion" class="perfil__dato perfil__dato--visualizar-activo">Electricista con 15 años de experiencia, siempre dispuesto a ayudar a su comunidad.</span><textarea name="" class="perfil__dato perfil__dato--edicion-inactivo" id="input-descripcion" ></textarea></p>
            </div>
        </div>
        <div class="perfil__botones">
            <button class="perfil__boton perfil__boton--editar" id="editarBtn">Editar</button>
            <form action="/logout" method="post" class="form_cerrar_sesion">
                <button type="submit" class="perfil__boton perfil__boton--cerrar-sesion">Cerrar Sesión</button>
            </form>
        </div>
    </main>
    <div id="footer"></div>
    <script src="js/perfil_usuario_edicion.js"></script>
</body>
</html>