<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" type="text/css" href="css/servicios.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="img/LogoMuniPequeño.ico">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $(function(){
            $("#header").load("general/header.html");
            $("#footer").load("general/footer.html");
        });
    </script>
</head>
<body>

    <div id="header"></div>

    <main>
        <div class="pagina">
            <div class="servicios">
                <input type="checkbox" class="checkbox" id="check_deportes">
                <label for="check_deportes" class="titulos">
                    <i class='bx bxs-ball'></i>
                    Deportes
                </label>
                <div class="datos">
                    <div class="descripcion">
                        <p><strong>
                            Descripción
                        </strong></p>
                        <p>
                            De acuerdo con el Código Municipal en cada cantón existirá un Comité Cantonal de Deportes y Recreación, 
                            adscrito a la municipalidad respectiva;  
                            gozará de personalidad jurídica instrumental para desarrollar planes, 
                            proyectos y programas deportivos y recreativos cantonales, así como para construir, 
                            administrar y mantener las instalaciones deportivas de su propiedad o las otorgadas en administración.  
                            Asimismo, habrá comités comunales de deportes y recreación, adscritos al respectivo comité cantonal.
                        </p>
                    </div>
                    <div class="servicios_dados">
                        <p>
                            <strong>Servicios brindados</strong>
                        </p>
                        <ul>
                            <li>Ajedrez</li>
                            <li>Atletismo</li>
                            <li>Judo y Karate</li>
                            <li>Tenis de Mesa</li>
                            <li>Triatlón</li>
                            <li>Zumba</li>
                            <li>Entrenamientos funcionales</li>
                            <li>Yoga</li>
                            <li>Tardes doradas y ejercicios bailables (Programas para personas Adultas Mayores)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="servicios">
                <input type="checkbox" class="checkbox" id="check_persona_joven">
                <label for="check_persona_joven" class="titulos">
                    <i class='bx bx-child'></i>
                    Comité Cantonal de la Persona Joven
                </label>
                <div class="datos">
                    <div class="descripcion">
                        <p><strong>
                            Descripción
                        </strong></p>
                        <p>	
                            Los Comités Cantonales son grupos de instancias municipales, 
                            integrados por personas jóvenes de 12 a 35 años del cantón, que representan distintas agrupaciones, 
                            cuyo objetivo es elaborar y ejecutar propuestas locales o nacionales que contribuyan a la construcción de la Política Pública Nacional de las Personas Jóvenes.
                        </p>
                    </div>
                </div>
            </div>
            <div class="servicios">
                <input type="checkbox" class="checkbox" id="check_alianzas">
                <label for="check_alianzas" class="titulos">
                    <i class='bx bx-shield-plus'></i>
                    Alianzas Publico Privadas para el desarrollo
                </label>
                <div class="datos">
                    <div class="descripcion">
                        <p><strong>
                            Descripción
                        </strong></p>
                        <p>Las Alianzas Público-Privadas para el Desarrollo (APPD) permiten a la Muni potenciar el trabajo colaborativo entre actores clave en beneficio del cantón y sus comunidades, 
                            para dar solución a un problema o necesidad. 
                            Para implementar una forma segura y efectiva Alianzas Público-Privadas para el Desarrollo: 
                            el Gobierno Local de Montes de Oca tiene una guía institucional que es la base para los actores interesados en realizar alianzas con la Municipalidad.
                        </p>
                    </div>
                    <div class="servicios_dados">
                        <p><strong>
                            Servicios brindados
                        </strong></p>
                        <ul>	
                            <li>Establecimiento formal de Alianzas Público-Privadas para el Desarrollo (APPD).</li>
                        </ul> 
                    </div>
                </div>
            </div>
            <div class="servicios">
                <input type="checkbox" class="checkbox" id="check_emergencias">
                <label for="check_emergencias" class="titulos">
                    <i class='bx bx-error' ></i>
                    Atención de emergencias cantonales
                </label>
                <div class="datos">
                    <div class="descripcion">
                        <p><strong>
                            Descripción
                        </strong></p>
                        <p>
                            El Comité Municipal de Emergencias se articula a partir de la participación de representantes de organizaciones, 
                            directores o jefes de las instituciones públicas, organizaciones no gubernamentales y empresas privadas con actividad propia en el cantón. 
                            Su ámbito de acción es cantonal.
                        </p>
                    </div>
                    <div class="servicios_dados">
                        <p><strong>
                            Regido por los siguientes objetivos
                        </strong></p>
                        <ul>
                            <li>a)       Promover la puesta en práctica de políticas, 
                                planes y programas institucionales que orienten el desarrollo regional y local, 
                                bajo la perspectiva de la reducción del riesgo y el manejo de situaciones de emergencia y/o desastres.
                            </li>
                            <li>b)      Coordinar y planificar con las instituciones y grupos organizados de la población, 
                                las acciones para el desarrollo y funcionamiento de sistemas adecuados de prevención y atención de emergencias, 
                                en los ámbitos regional, municipal y comunal.
                            </li>
                            <li>c)       Promover entre las instituciones la ejecución de acciones para la reducción del riesgo, 
                                tales como: aplicación de la normativa vigente, organización, capacitación y preparación para la reducción del riesgo y la atención de emergencias y/o desastres, 
                                en especial entre los grupos sociales más vulnerables, en condiciones de amenaza y en situaciones de riesgo.
                            </li>
                            <li>d)      Asumir, bajo la dirección de Gestión en Desastres de la CNE, 
                                la coordinación de la atención de incidentes que ocurran en el área de cobertura, propiciando el uso racional, 
                                eficiente y eficaz de los recursos disponibles (institucionales, estatales y no estatales), para la atención de las emergencias y/o desastres, 
                                durante el primer impacto y bajo estado de emergencia y/o desastres.
                            </li>
                            <li>e)      Desarrollar mecanismos de participación que permita la integración de los representantes de las instituciones en los Comités Regionales, 
                                Municipales y comunales de Emergencias.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="servicios">
                <input type="checkbox" class="checkbox" id="check_comercio">
                <label for="check_comercio" class="titulos">
                    <i class='bx bxs-badge-dollar' ></i>
                    Desarrollo ecónomico local
                </label>
                <div class="datos">
                    <div class="descripcion">
                        <p><strong>
                            Descripción
                        </strong></p>
                        <p>Fomentar el desarrollo económico local mediante la atención de nuevas necesidades y el desarrollo de intervenciones colaborativas.</p>
                    </div>
                    <div class="servicios_dados">
                        <p><strong>
                            Servicios brindados
                        </strong></p>
                        <ul>
                            <li>Atención a emprendedores/as y empresarios/as.</li>
                            <li>Gestión de proyectos para la promoción del Desarrollo Económico Local.</li>
                            <li>Generación de alternativas para el fomento de empleo mediante la gestión de la Agencia Nacional de Empleo en Montes de Oca.</li>
                            <li>
                                Promoción de actividades de capacitación, networking e iniciativas para emprendedores(as) locales, 
                                así como para promover la cultura emprendedora en el cantón.
                            </li>
                            <li>Coordinación de  un programa local para el fomento del liderazgo comunal en los grupos organizados y no organizados del cantón.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="servicios">
                <input type="checkbox" id="check_integral" class="checkbox">
                <label for="check_integral" class="titulos">
                    <i class='bx bxs-group' ></i>
                    Gestión Social Integral
                </label>
                <div class="datos">
                    <div class="descripcion">
                        <p><strong>
                            Objetivo
                        </strong></p>
                        <p>
                            A través del Departamento de Desarrollo Humano se impulsa el desarrollo social integral de las personas habitantes del cantón a través de la formulación 
                            y ejecución de políticas, estrategias y acciones orientadas a la promoción, la protección, la atención, el cumplimiento y 
                            el ejercicio de todos los derechos humanos de la ciudadanía del cantón, especialmente los de aquellos sectores vulnerables.
                        </p>
                    </div>
                    <div class="servicios_dados">
                        <p><strong>
                            Servicios brindados
                        </strong></p>
                        <ul>
                            <li>Coordinación interinstitucional para la atención de poblaciones vulnerables.</li>
                            <li>Asesoría, desarrollo y ejecución de programas y proyectos socioculturales en el cantón.</li>
                            <li>Coordinación y ejecución de políticas cantonales socioculturales.</li>
                            <li>Representación Municipal en redes y comisiones de atención directa a diferentes poblaciones.</li>
                            <li>Gestión de becas municipales y ayudas sociales.</li>
                            <li>Gestión local y organización comunal.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="servicios">
                <input type="checkbox" id="check_infraestructura" class="checkbox">
                <label for="check_infraestructura" class="titulos">
                    <i class='bx bxs-building-house' ></i>
                    Infraestructura Pública
                </label>
                <div class="datos">
                    <div class="descripcion">
                        <p><strong>
                            Descripción
                        </strong></p>
                        <p>
                            El Departamento de Infraestructura Pública coordina las acciones orientadas a dirigir, 
                            programar, supervisar y evaluar las actividades relacionadas con el diseño, ejecución, 
                            fiscalización y mantenimiento de las obras desarrolladas por la Municipalidad en el cantón.
                        </p>
                    </div>
                    <div class="servicios_dados">
                        <p><strong>
                            Servicios brindados
                        </strong></p>
                        <ul>
                            <li>Asesoría técnica para el diseño y construcción de espacios públicos.</li>
                            <li>Construcción y mantenimiento de la red vial cantonal.</li>
                            <li>Ejecución de los proyectos constructivos de obra pública en concordancia con los planes estratégicos de la municipalidad.</li>
                            <li>Fiscalización técnica de toda obra que desarrolle la municipalidad en el cantón.</li>
                            <li>Instalación de mobiliario urbano en espacios públicos.</li>
                            <li> Participación activa en la Junta Vial Cantonal.</li>
                            <li>Coordinación interinstitucional para la ejecución de proyectos.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="servicios">
                <input type="checkbox" id="check_cementerios" class="checkbox">
                <label for="check_cementerios" class="titulos">
                    <i class='bx bxs-church' ></i>
                    Gestion de Cementerios
                </label>
                <div class="datos">
                    <div class="descripcion">
                        <p><strong>
                            Descripción
                        </strong></p>
                        <p>
                            La Unidad de Cementerios presta un adecuado y oportuno servicio, 
                            por medio del mejoramiento en la infraestructura física general de los cementerios, 
                            estableciendo los mecanismos necesarios para que los costos por servicios varios que presta la unidad sean recuperados.  
                            El Gobierno Local administra dos cementerios públicos, uno ubicado en el distrito Sabanilla y otro en el distrito San Pedro.
                        </p>
                    </div>
                    <div class="servicios_dados">
                        <p><strong>
                            Servicios brindados
                        </strong></p>
                        <ul>
                            <li>Disponibilidad de panteonero.</li>
                            <li>Mantenimiento de zonas verdes de los cementerios municipales.</li>
                            <li>Mantenimiento de capilla de los cementerios municipales.</li>
                            <li>Mantenimiento y mejora de la infraestructura perimetral y áreas comunes de los cementerios municipales.</li>
                            <li>Servicios de inhumación y exhumación.</li>
                            <li>Capilla de velación.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="servicios">
                <input type="checkbox" id="check_ambiental" class="checkbox">
                <label for="check_ambiental" class="titulos">
                    <i class='bx bxs-leaf' ></i>
                    Gestión ambiental
                </label>
                <div class="datos">
                    <div class="descripcion">
                        <p><strong>
                            Descripción
                        </strong></p>
                        <p>El Departamento de Gestión Ambiental desarrolla e implementa los procesos necesarios para la promoción de un cantón ambientalmente sostenible, 
                            mediante el involucramiento de los diversos actores sociales y económicos; con el fin de impulsar una mejora en la calidad de vida de la población del cantón.
                        </p>
                    </div>
                    <div class="servicios_dados">
                        <p><strong>
                            Servicios brindados
                        </strong></p>
                        <ul>
                            <li>Manejo de micro-cuenca local.</li>
                            <li>Promoción de estrategias de sostenibilidad urbano-ambiental: siembras cantonales, limpiezas de micro cuencas.</li>
                            <li>Establecimiento de alianzas para ejecución de proyectos inter institucionales e inter cantonales.</li>
                            <li>Gestión de riesgos y amenazas cantonales.</li>
                            <li>Gestión interinstitucional sobre la atención de emergencias locales.</li>
                            <li>Coordinación del Plan Ambiental Institucional Municipal.</li>
                            <li>Inspecciones ambientales por incumplimiento de la legislación ambiental nacional vigente.</li>
                            <li>Gestión silvicultural urbana local: podas o corta de árboles plantados en zonas municipales.</li>
                            <li>Promoción de actividades educativas, formales informales de la gestión urbano ambiental.</li>
                            <li>Ejecución del Programa de Bienestar Animal.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="servicios">
                <input type="checkbox" id="check_residuos" class="checkbox">
                <label for="check_residuos" class="titulos">
                    <i class='bx bx-recycle'></i>
                    Gestion Integral de Residuos
                </label>
                <div class="datos">
                    <div class="descripcion">
                        <p><strong>
                            Descripción
                        </strong></p>
                        <p>
                            El Departamento de Gestión Integral de Residuos vela por la oportuna gestión integral de los residuos del cantón, 
                            incluyendo la recolección de desechos sólidos, así como el mantenimiento y limpieza de vías y espacios públicos.
                        </p>
                    </div>
                    <div class="servicios_dados">
                        <p><strong>
                            Servicios brindados
                        </strong></p>
                        <ul>
                            <li>Administración del Centro Municipal de Acopio.</li>
                            <li>Aplicación y actualización del Plan para la Gestión Integral de Residuos Sólidos en Montes de Oca.</li>
                            <li>Articulación de alianzas para proyectos y programas de gestión integral de residuos.</li>
                            <li>Capacitación y educación comunitaria sobre gestión de residuos.</li>
                            <li>Recolección cantonal de residuos sólidos, no tradicionales y material valorizable.</li>
                            <li>Fiscalización de rutas de recolección de residuos.</li>
                            <li>Desarrollo de proyectos y/o programas de educación comunitaria en materia de gestión integral de residuos.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="servicios">
                <input type="checkbox" id="check_parques" class="checkbox">
                <label for="check_parques" class="titulos">
                    <i class='bx bxs-tree' ></i>
                    Gestión de Parques y Espacios Públicos
                </label>
                <div class="datos">
                    <div class="descripcion">
                        <p><strong>
                            Descripción
                        </strong></p>
                        <p>
                            Gestionar integralmente los parques y espacios públicos del cantón mediante la administración y desarrollo de proyectos de inversión que favorezcan y 
                            potencien su uso como un lugar de encuentro sano y seguro; promover y adaptar estos espacios para la recreación, deporte y esparcimiento, así como la promoción y 
                            organización de los grupos vecinales para la administración de las propiedades municipales.
                        </p>
                    </div>
                    <div class="servicios_dados">
                        <p><strong>
                            Servicios brindados
                        </strong></p>
                        <ul>
                            <li>Diseño y ejecución de planes estratégicos de inversión y mantenimiento de los parques y espacios públicos del cantón.</li>
                            <li>Administración y mantenimiento del inventario físico perteneciente a los parques y zonas verdes cantonales.</li>
                            <li>Coordinación de acciones y alianzas externas para garantizar la seguridad y sano disfrute de los espacios.</li>
                            <li>Promoción de la recreación, deporte y esparcimiento en los parques y espacios públicos.</li>
                            <li>Gestión y administración de los convenios de propiedades municipales entre la ciudadanía y el Gobierno Local.</li>
                            <li>Adaptación y mejora de los parques y espacios públicos para su sano y seguro disfrute.</li>
                            <li>Mantenimiento de las zonas verdes.</li>
                            <li>Administración del Parque del Este.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="servicios">
                <input type="checkbox" id="check_mantenimiento" class="checkbox">               
                <label for="check_mantenimiento" class="titulos">
                    <i class='bx bxs-bus' ></i>
                    Mantenimiento de Vías y Espacios Públicos
                </label>
                <div class="datos">
                    <div class="descripcion">
                        <p><strong>
                            Descripción
                        </strong></p>
                        <p>
                            La Unidad de Mantenimiento de Vías y Espacios Públicos  garantiza un servicio eficaz y eficiente en la higiene y limpieza de sitios públicos tal como alcantarillado pluvial, 
                            ríos, quebradas, y lotes baldíos, con el fin de mantener un cantón limpio, un ambiente sano y seguro para la comunidad de Montes de Oca.
                        </p>
                    </div>
                    <div class="servicios_dados">
                        <p><strong>
                            Servicios brindados
                        </strong></p>
                        <ul>
                            <li>Limpieza y mantenimiento de parques públicos, áreas verdes públicas (espacio entre vía pública y acera), áreas de protección y propiedades municipales.</li>
                            <li>Limpieza y barrido de cordón y caño.</li>
                            <li>Limpieza de cuerpos de agua (ríos y quebradas), incluye parrillas.</li>
                            <li>Limpieza del alcantarillado pluvial.</li>
                            <li>Limpieza de vías públicas.</li>
                            <li>Limpieza de basureros públicos.</li>
                            <li>Fumigación de espacios públicos.</li>
                            <li>Riego de parques y zonas verdes.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="servicios">
                <input type="checkbox" id="check_inspeccion" class="checkbox">
                <label for="check_inspeccion" class="titulos">
                    <i class='bx bxs-zoom-in' ></i>
                    Inspección
                </label>
                <div class="datos">
                    <div class="descripcion">
                        <p><strong>
                            Descripción
                        </strong></p>
                        <p>
                            Se vela por el cumplimiento de las responsabilidades ciudadanas relacionadas con actividades urbanas y/o comerciales, a través de la fiscalización territorial.
                        </p>
                        <div class="servicios_dados">
                            <p><strong>
                                Servicios brindados
                            </strong></p>
                            <ul>
                                <li>
                                    Inspecciones técnicas a edificios, comercios y similares, con el fin de verificar el adecuado cumplimiento de la normativa vigente establecida y 
                                    el uso adecuado de las licencias y permisos otorgados.
                                </li>
                                <li>
                                    Control y fiscalización de toda obra que se desarrolle en el cantón de Montes de Oca, 
                                    mediante la inspección de obras en proceso constructivo bajo permisos de construcción, denuncias, 
                                    aplicación del reglamento de omisiones, notificar clausuras o prevenciones e inclusión multas por obras sin licencia constructiva o avance irregular de obras.
                                </li>
                                <li>
                                    Aplicación de las normas y reglamentos urbanos aprobados por el Concejo Municipal como parte del Plan Regulador Urbano, 
                                    así como las normas conexas vigentes para obras civiles, edificaciones, espacio público, zonas verdes y zonas de protección, urbanizaciones.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="servicios">
                <input type="checkbox" id="check_vial" class="checkbox">
                <label for="check_vial" class="titulos">
                    <i class='bx bxs-traffic' ></i>
                    Seguridad Vial
                </label>
                <div class="datos">
                    <div class="descripcion">
                        <p><strong>
                            Descripción
                        </strong></p>
                        <p>
                            Gestionar actividades de la Policía Municipal de Tránsito, responsable de la seguridad vial en las calles del cantón y regular y preservar 
                            las zonas de estacionamientos con boleta por medio de la observancia y aplicación de la reglamentación determinada para tal efecto.
                        </p>
                    </div>
                    <div class="servicios_dados">
                        <p><strong>
                            Servicios brindados
                        </strong></p>
                        <ul>
                            <li>Regula, ordena, vigila y controla el tránsito público, constituyéndose en autoridades aplicativas.</li>
                            <li>Remoción de vehículos u obstáculos de la vía pública, cuando éstos se encuentren en infracción a las leyes o reglamentos respectivos; siempre y cuando se cuente con los medios necesarios.</li>
                            <li>Verifica y controla el estacionamiento autorizado según lo dispuesto en la Ley N°-3580 "De Instalación de Estacionometros (Parquímetros)" y el presente reglamento.</li>
                            <li>Coordinación con las demás instituciones de la Fuerza Pública, para la realización de servicios operacionales conjuntos a fin de cumplir con sus funciones específicas.</li>
                            <li>Servicios ordinarios y especiales de vigilancia y prevención del tránsito, disponiendo de los recursos propios de la municipalidad.</li>
                            <li>Demarcaciones y mantenimientos de estacionamiento autorizado.</li>
                            <li>Campañas de educación en escuelas y colegios del cantón.</li>
                            <li>Operativos cantonales de tránsito y K-9.</li>
                            <li>Informes cantonales en distintas temáticas de seguridad ciudadana.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="servicios">
                <input type="checkbox" id="check_monitoreo" class="checkbox">                
                <label for="check_monitoreo" class="titulos">
                    <i class='bx bxs-webcam' ></i>
                    Videoprotección(Monitoreo)
                </label>
                <div class="datos">
                    <div class="descripcion">
                        <p><strong>
                            Descripción
                        </strong></p>
                        <p>
                            Velar por la seguridad ciudadana y la salvaguarda de bienes en el cantón, mediante la coordinación interinstitucional para la atención de incidencias, 
                            situaciones de riesgo y señales de alerta que ingresen y sean captadas por el centro de monitoreo.
                        </p>
                    </div>
                    <div class="servicios_dados">
                        <p><strong>
                            Servicios brindados
                        </strong></p>
                        <ul>
                            <li>Videoprotección 24/7 desde el Centro de Monitoreo.</li>
                            <li>
                                Atención de situaciones de emergencia y/o denuncias comunitarias aplicando los procedimientos establecidos, 
                                bien sea el envío de equipos de supervisión, contactar las autoridades o hacer las notificaciones al nivel apropiado.
                            </li>
                            <li>
                                Monitoreo del circuito cerrado de televisión cantonal, u otro equipo de vigilancia, prestando atención a situaciones delictivas, 
                                comportamientos sospechosos o inusuales, accidentes e incidentes de tipo no delictivo, dando parte a las entidades correspondientes con el detalle que se requiera.
                            </li>
                            <li>Informes cantonales en diferentes temáticas de seguridad ciudadana.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div id="footer"></div>

    <script src="js/servicios.js"></script>
    
</body>
</html>