/*Ajustes generales*/
.cont_general{
    display: flex;
    justify-content: center;
    height: auto;
}

h2{
    font-size: 40px;
    width: auto;
    white-space: nowrap;
    background-color: #1d4a9e;
    border-radius: 10px;
    color: white;
    padding: 10px;
}

a{
    text-decoration: none;
    color: black;
}

.inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 70%;
    padding: 40px;
    border-radius: 15px;
    background-color: rgb(137, 175, 247);
}

.formulario_inicio{
    margin-top: 45px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*-----------------------Fin Ajustes Generales-----------------------*/
/*-----------------------inicio de Sesion-----------------------*/
.grupo_inicio{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inp_inicio{
    width: 100%;
    height: 50px;
    padding-left: 10px;
    font-size: large;
    border-style: none;
    border-radius: 12px;
    transition: 0.5s;
}

.rec_contra{
    margin-top: 5px;
    font-size: 12px;
    display: flex;
    justify-content: end;
}

.rec_contra-button{
    padding: 0 4px;
    transition: 0.8s;
}

.contenedor_buttons{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons_formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(80, 103, 167);
    border-radius: 12px;
    padding: 10px;
    font-size: 18px;
    transition: 0.5s;
}

.mensaje_no_existe{
    align-items: center;
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(251, 93, 93);
    color: rgb(0, 0, 0);
}

/* HOVER Y FOCUS */
.buttons_formulario:hover{
    background-color: rgb(42, 81, 255);
    color: white;
}

input:focus{
    background-color: rgb(80, 178, 241);
    opacity: 80%;
}

.rec_contra-button:hover{
    color: white;
    border-radius: 15px;
    background-color: rgb(163, 163, 163);
    font-size: 13px;
}

/* Responsive */

@media(max-width: 900px){
    h2{
        font-size: 30px;
    }
}