@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bangers&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
}

body{
    font-family: sans-serif, "Arvo", Arial, Helvetica;
    background-color: #f7f7f7;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    background-color: #ffffff;
    height: 90px;
    display: flex;
    justify-content: center;
}

header div{
    height: auto;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

.logoHeader{
    background-color: #ffffff;
    border-radius: 10px;
    height: 80%;
}

#checkMenu{
    display: none;
}

.checkbtn{
    display: none;
    border: none;
    height: 50px;
    width: 50px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.checkbtn:hover{
    background-color: #cce6ff;
}

.menu{
    height: 40px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuBtn{
    height: 80%;
    width: auto;
    padding: 6px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    color: #1d3893;
    border-radius: 10px;
}

.menuBtn:hover{
    background-color: #cce6ff;
}

main{
    padding: 40px;
    min-height: auto;
    box-shadow: 
    inset 0px 10px 10px -5px #c7c7c7,
    inset 0px -10px 10px -5px #c7c7c7;
}

footer{
    padding: 20px;
    display: flex;
    justify-content: center;   
    align-items: center;
    background-color: #ffffff;
    height: 180px;
}

.bloque__footer{
    height: auto;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoFooter{
    height: 100px;
}

.mapaFooter{
    border-radius: 5px;
    height: 150px;
    width: auto;
}

.contactos__info{
    height: 140px;
    width: 240px;
    min-width: 240px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    box-shadow: 0 0 5px;
    border-radius: 5px;
}

.contactos__info h6{
    font-size: 25px;
    position: relative;
    left: 25%;
}

.contactos__info p{
    display: flex;
    flex-direction: column;
}

/* Clase modo dev de algunas paginas*/
.modo__dev{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    margin: 5px;
    position: fixed;
    left: 0%;
    bottom: 0%;
}

/* Boton para cambiar inicio sesion / Perfil temporalmente */

#check_Inicio-Perfil{
    display: none;
}

.boton_Inicio-Perfil{
    white-space: nowrap;
    background-color: black;
    color: white;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: fixed;
    margin: 5px;
    right: 0px;
    bottom: 0px;
    z-index: 3;
    cursor: pointer;
    user-select: none;
}

.visualizar{
    display: flex;
}

.no-visualizar{
    display: none;
}

@media(max-width: 1000px){
    main{
        padding: 40px 5px;
    }

    .checkbtn{
        display: block;
    }

    .menu{
        z-index: 3;
        position: absolute;
        top: 95px;
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        flex-direction: column;
        text-align: center;
        transition: 0.5s;
        left: -120%;
        border: 5px solid #dfdfdf;
    }

    .menuBtn{
        width: 100%;
        background-color: white;
        border-radius: 0;
    }

    #checkMenu:checked ~ .menu{
        left: 0;
    }

    .logoFooter{
        display: none;
    }

    .contactos__info{
        height: 70px;
        width: 160px;
        min-width: 160px;
        padding: 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        border-radius: 2px;
    }
    
    .contactos__info h6{
        font-size: 15px;
        position: relative;
        left: 25%;
    }

    .contactos__info p{
        display: flex;
        flex-direction: column;
        font-size: 10px;
    }
}