 nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

h2{
    background-color: azure;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-top: 48px;
}
a{
    text-decoration: none;
    color: black;
}

/*Parte de inicio de Sesion*/
.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inicio_hijo{
    height: 80%;
    width: 500px;
    background-color: rgba(217, 217, 217, 0.70);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    margin: 36px;
}

.formulario_inicio{
    margin-top: 45px;
    width: 90%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.correo, .contraseña{
    margin-top: 20px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inp_correo, .inp_contra{
    width: 100%;
    height: 40px;
    border-style: none;
    border-radius: 12px;
    
}

.rep_contra{
    margin-top: 2px;
    font-size: 12px;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.contenedor_buttons{
    margin-top: 35px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button_inicio_sesion, .button_inicio_google{
    background-color: rgb(217, 217, 217);
    border-radius: 12px;
    margin: 15px;
    padding: 5px;
    font-size: 15px;
}

.divisor_inicio{
    background-color: rgb(0, 0, 0);
    height: 2px;
    border-radius: 40px;
    width: 400px;
}


/*Parte de Registro de usuarios*/
.registro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario_registro{
    height: 90%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.registro_hijo{
    height: 80%;
    width: 500px;
    background-color: rgba(217, 217, 217, 0.70);
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    border-radius: 15px;
    margin: 36px;
}

.distrito_registro{
    width: 150px;
    display: flex;
    justify-content: space-between;
}
