* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.container {
    width: 100%;
    max-width: 700px; 
    height: 350px;
    margin: 92.6px auto; 
    padding: 20px;
    background: radial-gradient(circle, #c5c7c7, #dad2d2, #d1cdcd);
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


h1 {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 15px;
}

input {
    width: 70%;
    padding: 10px;
    margin-top: 40px;
    border: 1px solid #272727;
    border-radius: 5px;
    font-size: 16px;
}


button {
    width: 50%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 30px;
}

button:hover {
    background-color: #0056b3;
}

.message-box {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    background-color: #e1e4e2; 
    color: #155724; 
    border: 1px solid #121312; 
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    margin-top: 9px;


}


@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }

    input, button {
        font-size: 14px;
    }
}