<header>
    <div>
        <img class="logoHeader" src="../img/LogoMuni.png" alt="logoMuni">
        <input type="checkbox" id="checkMenu">
        <label for="checkMenu" class="checkbtn"> &#9776; </label>
        <nav class="menu">
            <a class="menuBtn" href="/">Inicio</a>
            <a class="menuBtn" href="/noticias_usuarios">Noticias/Avisos</a>
            <a class="menuBtn" href="/denuncias_usuarios">Denuncias</a>
            <a class="menuBtn" href="/social">Social</a>
            <a class="menuBtn" href="/servicios">Servicios</a>
            <a class="menuBtn no-visualizar" id="iniciarSesion_Btn" href="/login">Iniciar Sesion</a>
            <a class="menuBtn visualizar" id="perfil_Btn" href="/perfil">Mi Perfil</a> <!--Boton Temporal (Inicio Sesion y Mi Perfil serán intercambiables)-->
        </nav>
    </div>
    <!-- Boton para cambiar inicio sesion / Perfil temporalmente  -->
    <input type="checkbox" id="check_Inicio-Perfil">
</header>
<script>
let toggleButtonCheckBox;
let toggleButtonDEMO;
let botonIniciarSesion;
let botonPerfil;

toggleButtonCheckBox = document.querySelector("#check_Inicio-Perfil");
toggleButtonDEMO = document.querySelector(".boton_Inicio-Perfil");
botonIniciarSesion = document.querySelector("#iniciarSesion_Btn");
botonPerfil = document.querySelector("#perfil_Btn");

function mostrar_InicioSesion_MiPerfil() {
    if (inicioSesion) {
        botonPerfil.classList.add("visualizar");
        botonIniciarSesion.classList.add("no-visualizar");
        botonPerfil.classList.remove("no-visualizar");
        botonIniciarSesion.classList.remove("visualizar");
    } else {
        botonPerfil.classList.add("no-visualizar");
        botonIniciarSesion.classList.add("visualizar");
        botonPerfil.classList.remove("visualizar");
        botonIniciarSesion.classList.remove("no-visualizar");
    }
}

// Llamar a la función al cargar la página para establecer el texto inicial
mostrar_InicioSesion_MiPerfil();

// Agregar un evento para escuchar cambios en el checkbox
toggleButtonCheckBox.addEventListener('change', updateToggleButtonText);
</script>